android/.idea/
android/.gradle/
android/app/build/
android/local.properties
android/android.iml
android/app/app.iml
iOS/ZCRMSwiftAppTemplate/ZCRMSwiftAppTemplate.xcodeproj/project.xcworkspace/xcshareddata/
iOS/ZCRMSwiftAppTemplate/ZCRMSwiftAppTemplate.xcodeproj/project.xcworkspace/xcuserdata/
iOS/ZCRMSwiftAppTemplate/ZCRMSwiftAppTemplate.xcodeproj/xcuserdata/
