<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>ZCRMOAuthClientID</string>
	<key>ClientSecretID</key>
	<string>ZCRMOAuthClientSecret</string>
	<key>RedirectURLScheme</key>
	<string>ZCRMOAuthRedirectURL</string>
	<key>Type</key>
	<string>ZCRMAppType</string>
	<key>AccountsURL</key>
	<string>https://accounts.zoho.com</string>
	<key>AuthScopes</key>
	<array>
		<string>ZohoCRM.settings.READ</string>
		<string>ZohoCRM.modules.ALL</string>
		<string>ZohoCRM.users.READ</string>
		<string>ZohoCRM.org.READ</string>
		<string>Aaaserver.profile.Read</string>
	</array>
	<key>FirstLaunch</key>
	<false/>
</dict>
</plist>
