<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>___VARIABLE_ClientID___</string>
	<key>ClientSecretID</key>
	<string>___VARIABLE_ClientSecret___</string>
	<key>RedirectURLScheme</key>
	<string>___VARIABLE_RedirectURLScheme___</string>
	<key>Type</key>
	<string>ZVCRM</string>
	<key>AccountsURL</key>
	<string>https://accounts.zohoportal.com</string>
	<key>PortalID</key>
	<string>___VARIABLE_PortalID___</string>
	<key>ApiBaseURL</key>
	<string>https://___VARIABLE_ ApiBaseURL___</string>
	<key>ApiVersion</key>
	<string>v2</string>
	<key>OAuthScopes</key>
	<array>
		<string>ZohoCRM.settings.READ</string>
		<string>ZohoCRM.modules.ALL</string>
		<string>ZohoCRM.users.READ</string>
		<string>ZohoCRM.org.READ</string>
		<string>Aaaserver.profile.Read</string>
		<string>profile.userphoto.READ</string>
	</array>
	<key>FirstLaunch</key>
	<false/>
</dict>
</plist>
